<ion-header class="header">
  <ion-title>
    <h1>Bem vindo</h1>
  </ion-title>

</ion-header>

<ion-content>
  <ion-label>
    <p>Produtos</p>
  <p>Lista de compras</p>
  <p>Materiais</p>
  <p>Contatos</p>
  </ion-label>

  <ion-button id="present-alert">Click Me</ion-button>
<ion-alert
  trigger="present-alert"
  header="Alert"
  subHeader="Important message"
  message="This is an alert!"
  [buttons]="alertButtons"
></ion-alert>

  <ion-footer>
  <h4>Desenvolido por thalita</h4>
  </ion-footer>

</ion-content>

